<div class="categories-list">
  <h2>Категорії</h2>
  {% assign categories_list = site.categories %}
    {% if categories_list.first[0] == null %}
      {% for category in categories_list %}
        <a href="/category/{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">
          <div class="categories-list-item">
            {{ category | camelcase }} ({{ site.tags[category].size }})
          </div>
        </a>
      {% endfor %}
    {% else %}
      {% for category in categories_list %}
        <a href="/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">
          <div class="categories-list-item">
            {{ category[0] | camelcase }} ({{ category[1].size }})
          </div>
        </a>
      {% endfor %}
    {% endif %}
  {% assign categories_list = nil %}
</div>