---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.categories-list {
    margin-bottom: 1em;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.categories-list-item {
    display: inline-block;
    border: 1px dashed grey;
    border-radius: 10px;
    padding: 2px 5px;
    margin-top: 5px;

    &:hover {
        border: 1px solid black;
    }
}